"*":
  "autocomplete-ruby":
    rsensePath: "/Users/toshiharu.nishina/.rbenv/shims/rsense"
  core:
    disabledPackages: [
      "spell-check"
    ]
    telemetryConsent: "limited"
    themes: [
      "one-dark-ui"
      "ramda-syntax"
    ]
  editor: {}
  "exception-reporting":
    userId: "ed2b2b11-b505-40a8-beb2-603e01cc5341"
  "linter-ui-default":
    showPanel: true
  minimap: {}
  welcome:
    showOnStartup: false
